.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}
.container.row {
  flex-direction: row;
}
.container.column {
  flex-direction: column;
}
.container.responsive {
  flex-direction: column;
}
.container.row .title {
  min-width: 40% !important;
}

.title {
  min-width: max-content;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.title::before {
  content: "";
  width: 38px;
  height: 3px;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: url(../../assets/feature-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.content {
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

@media screen and (min-width: 900px) {
  .container.responsive {
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
  }
  .responsive .title {
    min-width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    font-size: 1.5vw;
  }
  .title {
    font-size: 1em;
    line-height: 2em;
  }
  .content {
    font-size: .7em;
    line-height: 1.5em;
  }
  .title::before {
    width: 3vw;
    height: 4px;
  }
}

